h1 {
  color: black;
}
.back {
  margin-right: 100px;
}
#next {
  margin-left: 345px;
}
#next2 {
  margin-left: 520px;
}
.desc1 {
  padding-right: 175px;
}
.desc2 {
  padding-right: 175px;
}
.title {
  padding-right: 175px;
}
.link {
  padding-right: 175px;
}
.description {
  padding-right: 175px;
}
#next3 {
  margin-left: 255px;
}
.desc3 {
  padding-right: 470px;
}
.desc4 {
  padding-right: 470px;
}
#next4 {
  margin-left: 550px;
}
#next5 {
  margin-left: 550px;
}
